.character-group-list {
	max-height: 40vh;
	margin: half(-$ui-length);

	> .list--bordered {
		border-top-width: 0;

		> :last-child {
			border-bottom-width: 0;
		}

		> li > a {
			padding-left: half($ui-length);
			padding-right: half($ui-length);
		}
	}
}

.character-group-list__item {
	user-select: none;

	> a {
		cursor: pointer;
	}

	&.active > a {
		background-color: ui-color('selection');
		border-color: ui-color('selection', 'semidark');

		@include hover() {
			background-color: ui-color('selection');
		}
	}
}

.character-group-list__item__name {}

.character-group-list__item__subtitle {
	font-size: em($ui-text-size - eighth($ui-text-size), $ui-text-size);
	color: rgba(black, 1 / 2);
}

.character-grid {
	max-height: 40vh;
	padding: half($ui-length);
}

.character-grid__list {
	display: flex;
	flex-wrap: wrap;
	margin: -$ui-length;
	font-family: ui-font-stack('content');
	font-size: em($ui-text-size + half($ui-text-size), $ui-text-size);

	.recent-characters & {
		margin-bottom: 0;
	}
 }

.character-grid__list__item {
	flex: none;
	text-align: center;
	list-style-type: none;
	user-select: none;

	> a {
		display: block;
		min-width: 2.5em;
		padding: triple(quarter($ui-length)) 0;
		color: ui-color('text');
		cursor: pointer;

		@include hover() {
			text-decoration: none;
			background-color: ui-color('hover');
		}

		&.selected {
			background-color: ui-color('selection');

			@include hover() {
				background-color: ui-color('hover');
			}
		}
	}
}

.selected-character {
	overflow-y: auto;
}

.selected-character__preview {
	padding: triple(half($ui-length));
	font-family: ui-font-stack('content');
	font-size: 5em;
	line-height: 2;
	text-align: center;
}

.selected-character__name,
.selected-character__subtitle {
	padding: half($ui-length);
	text-align: center;
}

.selected-character__subtitle {
	color: ui-color('neutral', 'dark');
}
