@font-face {
	font-family: 'Code2000Regular';
	src: url('assets/fonts/CODE2000.woff') format('woff');
}

@font-face {
	font-family: 'Code2001Regular';
	src: url('assets/fonts/CODE2001.woff') format('woff');
}
