//
// Insert special characters
// --------------------------------------------------

// @TODO:
$ui-special-char-modal-column-spacing: $ui-modal-column-spacing;
$ui-special-char-modal-border: 1px dotted $skin-accent;

$ui-special-char-modal-char-width: 48px;
$ui-special-char-modal-char-height: 60px;
$ui-special-char-modal-char-margin: 1px;
$ui-special-char-modal-char-border-width: 1px;
$ui-special-char-modal-grid-border-width: 1px;

@mixin grid-background($color, $width, $height) {
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 0px, $color 0.001px, $color 0.999px, transparent 1px, transparent),
	linear-gradient(90deg, transparent 0px, $color 0.001px, $color 0.999px, transparent 1px, transparent);
	background-size: $width $height;
	background-position: 0px 1px;
}

.character-group-list-container {
	padding: $padding-small;
	max-height: 30vh;
	overflow-y: auto;
}

.character-group-list__item {
	@extend %filter-list__item;
	@include flex(0, 0, auto);

	> a {
		padding: 5px $padding-small;

		> * {
			display: block;
		}

		@include focus() {
			color: $text-color !important;
		}
	}
}

.character-group-explanation {
	font-size: #{(12em / 14)};
	line-height: 1;
	color: $skin-accent-semidark;
}

.character-list {
	max-height: 40vh;
	padding: half($padding);
}

.character-list__grid {
	font-family: $font-family-serif;
	font-size: $font-size-large;

	margin-bottom: $padding;
	// padding-top is smaller to compensate for the increased margin-top of list items
	padding: 1px - $ui-special-char-modal-grid-border-width 1px 1px;

	@include grid-background(
		$skin-accent-lighter,

		// Grid width: Does not count character border-width because block width is affected by box-sizing: border-box;
		$ui-special-char-modal-char-width + 2*$ui-special-char-modal-char-border-width + $ui-special-char-modal-grid-border-width,

		// Grid height: Regular sum of all influencing factors
		$ui-special-char-modal-char-height + 2*($ui-special-char-modal-char-border-width + $ui-special-char-modal-char-margin) + $ui-special-char-modal-grid-border-width
	 );

	.recent-characters & {
		margin-bottom: 0;
	}
 }

.character-list__item {
	display: inline-block;
	width: $ui-special-char-modal-char-width;
	line-height: $ui-special-char-modal-char-height;

	list-style-type: none;
	text-align: center;

	// margin-top is larger, so that margin-bottom does not push grid border too far
	margin-top: $ui-special-char-modal-char-margin + $ui-special-char-modal-grid-border-width;

	// margin-right is larger to push neighbor well across the gridline. this effect is negated
	// for each row's last child, see the mediaqueries below.
	margin-right: $ui-special-char-modal-char-border-width + $ui-special-char-modal-grid-border-width;

	margin-bottom: $ui-special-char-modal-char-border-width;
	margin-left: $ui-special-char-modal-char-border-width;

	> a {
		display: block;
		@extend %selectable;
		color: $text-color;
	}
}

.recent-characters {
	height: 80px; /* TODO: compute this based on variables somehow? */
}

.selected-character {
	overflow-y: auto;

	.character-preview {
		padding: $padding-large;
		font-family: $font-family-serif;
		font-size: 5em;
		text-align: center;
	}

	.character-label,
	.character-numeric-codes {
		text-align: center;
		padding: $padding-small $padding-small;
	}

	.character-numeric-codes {
		color: $skin-accent-dark;
	}
}

%filter-list__item {
	> a {
		color: $text-color;
		display: block;

		@include focus() {
			text-decoration: none;
			background-color: $color--focus-bg !important;
		}
	}

	&.active > a {
		background-color: $color--selection-bg;
		border-color: $color--selection-border;

		@include focus() {
			background-color: $color--selection-bg;
		}
	}
}

@media screen and (min-width: 992px) {
	.character-browser {
		@include flex(0, 0, 460px); // @TODO: calculate from size and number of characters in one row
	}
	.character-list__grid {
		min-width: 206px; // @TODO: calculate from size and number of characters in one row
		max-width: 409px; // @TODO: calculate from size and number of characters in one row
	}
	.character-list__item:nth-child(8n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 991px) {
	.character-browser {
		@include flex(0, 0, 460px - 4*51px);
	}
	.character-list__item:nth-child(4n) {
		margin-right: 0;
	}
	.character-list__grid {
		max-width: 205px;
	}
}
