//
// Insert special characters
// --------------------------------------------------

// @TODO:
$ui-special-char-modal-column-spacing: $ui-modal-column-spacing;
$ui-special-char-modal-border: 1px dotted $skin-accent;


$ui-special-char-modal-char-width: 48px;
$ui-special-char-modal-char-height: 60px;
$ui-special-char-modal-char-margin: 1px;
$ui-special-char-modal-char-border-width: 1px;
$ui-special-char-modal-grid-border-width: 1px;

@mixin grid-background($color, $width, $height) {
	background-color: transparent;
	background-image: linear-gradient(0deg, transparent 0px, $color 0.001px, $color 0.999px, transparent 1px, transparent),
	linear-gradient(90deg, transparent 0px, $color 0.001px, $color 0.999px, transparent 1px, transparent);
	height:100%;
	background-size: $width $height;
	background-position: 0px 1px;
}

// Toolbar dropdown UI
// ------

// Dropdown menu sections
.common-characters {
	padding-bottom: $padding-tiny;
}

.favorite-characters {
	border-top: 1px dotted $skin-accent;
	padding-bottom: $padding-tiny;
}

.character-controls {
	padding: $padding-tiny $padding-tiny 0;
	border-top: 1px solid $skin-accent;
}

.dropdown {
	.character-list {
		// Is there no way to set width based on the content..?
		min-width: 230px; // 24 x 8 items
		padding: 0 $padding-small;
	}
}

// Insert characters modal
// ------
.insert-special-character {
	.modal-functional-body {
		// Apply flex to make children equal-heighted
		flex-direction: column;
	}
}

.character-picker {
	display: flex;
	flex-direction: row;
	// Prevent from collapsing when child sections have no content
	width: 100%;
}

// Groups of characters that can be used as a filter
// - First column in the special-characters modal
.character-group-browser {
	@include flex(1);
	@extend %modal-column;
	border: 1px solid $skin-accent-light;
	margin-right: $ui-special-char-modal-column-spacing;

}

.character-group-list {
	// Create a vertical-shrinkable child with a scrollbar
	background-color: $white;
	padding: $padding;
	overflow: auto;
	border-top: none;
}

.character-group-list__item {
	@extend %filter-list__item;
	@include flex(0, 0, auto);

	> a {
		padding: 5px $padding-small;
		> * {
			display: block;
		}
	}
}

.character-group-explanation {
	font-size: 70%;
	color: $skin-accent-dark;
	margin: 0;
}

.character-group-sort,
.character-search {
	@include flex(0, 0, auto);
	@extend %modal-column-header;
	border-bottom: 1px solid $skin-accent-light;

	> label {
		display: none;
	}
}

// Actual list of characters to be selected from
// - Second (middle) column in the special-characters modal
.character-browser {
	@include flex(0, 0, 460px); // = 8 * volledige char breedte + 2 & $padding
	@extend %modal-column;
	border: 1px solid $skin-accent-light;
	overflow: auto;
	margin-right: $ui-special-char-modal-column-spacing;
}

// Universal properties of character-list
.character-list {
	@include flex(1, 1, auto);
	background-color: $white;
	padding: $padding;
	overflow: auto;
	margin-bottom: 0px;
}
.character-list__grid {
	// padding-top is smaller to compensate for the increased margin-top of list items
	padding: 1px - $ui-special-char-modal-grid-border-width 1px 1px 1px;
	margin: 0;

	@include grid-background(
		$skin-accent-lighter,

		// Grid width: Does not count character border-width because block width is affected by box-sizing: border-box;
		$ui-special-char-modal-char-width + 2*$ui-special-char-modal-char-border-width + $ui-special-char-modal-grid-border-width,

		// Grid height: Regular sum of all influencing factors
		$ui-special-char-modal-char-height + 2*($ui-special-char-modal-char-border-width + $ui-special-char-modal-char-margin) + $ui-special-char-modal-grid-border-width
	 );

 }
.character-list__item {
	// Add selectable css for :hover and .selected behaviour
	@extend %selectable;

	font-size: $font-size-large;
	font-family: $font-family-serif;

	width: $ui-special-char-modal-char-width;
	line-height: $ui-special-char-modal-char-height;

	list-style-type: none;
	display: inline-block;
	text-align: center;

	// margin-top is larger, so that margin-bottom does not push grid border too far
	margin-top: $ui-special-char-modal-char-margin + $ui-special-char-modal-grid-border-width;

	// margin-right is larger to push neighbor well across the gridline. this effect is negated
	// for each row's last child, see the mediaqueries below.
	margin-right: $ui-special-char-modal-char-border-width + $ui-special-char-modal-grid-border-width;

	margin-bottom: $ui-special-char-modal-char-border-width;
	margin-left: $ui-special-char-modal-char-border-width;
	padding: 0;

}

// Information about current selected character
// - Third column in the special-characters modal
.character-picker-right-column {
	@include flex(1);
	@extend %modal-column;

	display: flexbox;
	flex-direction: column;
}

.recent-characters {
	@include flex(0, 0, auto);

	// TODO: compute this based on variables somehow?
	height: 214px;

	// TODO: @extend %well has padding that is not desired here
	background-color: $white;
	border: 1px solid $skin-accent-light;

	.recent-characters-header {
		@extend %modal-column-header;
		padding-top: 15px;
		padding-bottom: 15px;
		border-bottom: 1px solid $skin-accent-light;
		border-bottom-width: 0;
	}
}

.selected-character {
	@include flex(1);
	flex-direction: vertical-shrinkable;
	@extend %well;

	.character-preview {
		font-size: 5em;
		font-family: $font-family-serif;
		text-align: center;
		padding: $padding-large;
		flex: 4;
	}

	.character-label,
	.character-numeric-codes {
		text-align: center;
		padding: $padding-small $padding-small;
		flex: 1;
	}

	.character-numeric-codes {
		color: $skin-accent-dark;
	}
}

%filter-list__item {
	> a {
		color: $text-color;
		display: block;

		&:hover,
		&:focus {
			text-decoration: none;
			background-color: $skin-primary-ultralight;
		}
	}
	&.active > a {
		background-color: $skin-primary-lighter;

		&:hover,
		&:focus {
			background-color: $skin-primary-ultralight;
		}
	}
}


@media screen and (min-width: 992px) {
	.character-browser {
		@include flex(0, 0, 460px); // @TODO: calculate from size and number of characters in one row
	}
	.character-list__grid {
		min-width: 206px; // @TODO: calculate from size and number of characters in one row
		max-width: 409px; // @TODO: calculate from size and number of characters in one row
	}
	.character-list__item:nth-child(8n) {
		margin-right: 0;
	}
}

@media screen and (max-width: 991px) {
	.character-browser {
		@include flex(0, 0, 460px - 4*51px);
	}
	.character-list__item:nth-child(4n) {
		margin-right: 0;
	}
	.character-list__grid {
		max-width: 205px;
	}
}
